body {
  margin: 0%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}

.img-login{
  height: 25vh;
}

.img-login img{
  height: 80%;
  margin:5%;
}
.input-email, .input-password {
font-family: 'Roboto', sans-serif;
color: #2A9D8F;
outline: none;
cursor: pointer;
border-radius: 25px;
width: 90%;
height: 6.8vh;
margin:2%;
border: solid 1pt #2A9D8F;
font-size: 110%;
font-weight: 600;
}

.login-input-label{
position: absolute;
left: 10%;
margin-top: 6%;
color:#444B59;
font-weight: 400;
letter-spacing: 2px;
}
.div-email, .div-password{
width: 100%;
text-align: center;
}

.div-password img {
width: 18px;
position: absolute;
margin-left: -40px;
margin-top: 25px;
}

.input-email:focus ~ .login-input-label,
.input-email:not(:placeholder-shown).input-email:not(:focus) ~ .login-input-label{
margin-top: 1.8%;
font-size: 13px;
color: grey;
}

.input-password:focus ~ .login-input-label,
.input-password:not(:placeholder-shown).input-password:not(:focus) ~ .login-input-label{
margin-top: 1.8%;
font-size: 13px;
color: grey;
}

.checkbox-forgot-password{
width: 100%;
margin-top: 4%;
color:#444B59;
font-weight: 500;
}
.checkbox-forgot-password button {
background-color: transparent;
border: none;
color:#8699DA;
}
.btn-login{
font-family: 'Roboto', sans-serif;
background-color: #2A9D8F;
outline: none;
cursor: pointer;
border-radius: 25px;
height: 35px;
width: 90%;
height: 7.5vh;
margin:2%;
margin-bottom: 4%;
border: solid 1pt white;
color: white;
font-size: 110%;
font-weight: 600;
letter-spacing: 2px;
}

.login-error-div{
background-color: rgb(238, 229, 227);
height: 6.5vh;
}
.register-new-user {
letter-spacing: 2px;
width: 100%;
}
.register-new-user button{
color:#2A9D8F;
border: none;
background-color:transparent;
letter-spacing: 2px;
font-size: 100%;
cursor: pointer;
}
.enter-icons img{
width: 40px;
height: 40px;
border-radius: 15px;
}
.enter-icons{
display: flex;
justify-content: space-between;
width: 80%;
margin-left: 10%;
margin-right: 10%;
}
.enter-icons button{
border-radius: 10px;
width: 73px;
height: 49px;
border: 1px solid #2A9D8F;
background-color: transparent;
justify-content: space-between;

}
.footer {
position:absolute;
bottom:0;
width:100%;
}
main{
height: 90vh;
margin-bottom: 7vh;
}