* {
  font-family: 'Roboto', sans-serif;
  color: var(--verde-escuro);
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  background-color:transparent;
  background:no-repeat;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  margin: 0%;
 }

footer {
  position:absolute;
  bottom: 0;
  left: 38%;
}
  
 :root {
  --verde-claro: #2A9D8F;
  --verde-escuro: #264653;
  --laranja-claro: #F4A261;
  --laranja-escuro: #E76F51;
  --amarelo: #E9C46A;
  --branco: #fff;
  --preto: #000;
  --cinza-claro:#808080;
  --cinza-escuro:#404040;
 }
  
.img-login img{
  height: 25vh;
  margin-top: 5%;
}

.input-email, .input-password, .input-name, .input-confirm-password {
  width: 80%;
  height: 5vh;
  padding:3% 3% 1% 8%;
  margin:2%;
  color: #2A9D8F;
  font-weight: 600;
  cursor: pointer;
  border: solid 1pt #2A9D8F;
  border-radius: 25px;
  text-align: left;
 }

.login-input-label{
  position: absolute;
  margin-top: 6%;
  left: 10%;
  color:var(--cinza-escuro);
  font-weight: 400;
  letter-spacing: 1px;
 }
 
.icon-eye, .eye {
  margin-left: -12%;
  margin-top: 6%;
  width: 5%;
  position: absolute;
 }
  
.input-email:focus ~ .login-input-label,
.input-email:not(:placeholder-shown).input-email:not(:focus) ~ .login-input-label,

.input-password:focus ~ .login-input-label,
.input-password:not(:placeholder-shown).input-password:not(:focus) ~ .login-input-label,

.input-name:focus ~ .login-input-label,
.input-name:not(:placeholder-shown).input-name:not(:focus) ~ .login-input-label,

.input-confirm-password:focus ~ .login-input-label,
.input-confirm-password:not(:placeholder-shown).input-confirm-password:not(:focus) ~ .login-input-label{
  margin-top: 2.5%;
  margin-left: 3%;
  font-size: 90%;
  color: var(--cinza-claro);
 }
  
.checkbox-forgot-password button {
  background-color: transparent;
  border: none;
  color:#8699DA;
  margin-left: 3%;
 }
  
.btn-login{
  width: 70%;
  height: 7vh;
  
  color: white;
  font-size: 110%;
  font-weight: 600;
  letter-spacing: 2px;

  background-color: #2A9D8F;
  border-radius: 25px;
 }
  
.transparent {
  color: transparent;
 }
  
.login-input-has-an-error {
  border: #ff6666 solid 1.5pt !important;
  background-color: #ffe6e6;
 }
  
.login-error-div {
  margin-top: 3%;
  margin-bottom: 3%;
 }
  
.login-error {
  color: var(--laranja-escuro);
  font-weight: 500;
 }

.register-new-user {
  letter-spacing: 1px;
  width: 100%;
  margin: 3% auto 3% auto;
 }

.register-new-user button{
  color:#2A9D8F;
  letter-spacing: 1px;
 }
  
.connect{
  margin-bottom:3%;
  list-style: none;
  font-size: 90%;
 }
  
.enter-icons{
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;

 }
  
.enter-icons img{
  width: 70%;
  background: transparent;
 }
  
 .enter-icons button{
  border-radius: 10px;
  width: 25%;
  border: 1px solid #2A9D8F;
  margin: auto;
}

 .alert-reset {
  background: rgba(0,0,0, .5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
 }

 .modal-reset{
  width: 80%;
  margin: auto;
  background: white;
  position: relative;
  padding: 0% 0% 5% 0%;
 }

 .h1-modal{
  color: var(--verde-escuro);
  padding: 5%;
  font-size: 150%;
  font-weight: bold;
 }
  
 .alert-reset button{
  min-width: 40%;
  height: 5vh;
  border-radius: 20px;
  background-color: var(--verde-claro);
  color: var(--branco);
  font-weight: bold;
  font-size: 120%;
 }

  @media (max-width: 300px) {
    .register-new-user{
      width: 70%;
    }

    .enter-icons{
      width: 50%;   
      margin-left: 25%;
    }
  }

  @media (min-width: 400px) {
    footer {
      left: 42%;
    }
    
  }

  @media (min-width: 749px) {
    * {
      font-size: 102%;
    }

    .input-email, .input-password, .input-name, .input-confirm-password {
      width: 60%;
      height: 4vh;
      padding:1% 1% 1% 3%;
      margin:2%;
     }
    
    .input-email:focus ~ .login-input-label,
    .input-email:not(:placeholder-shown).input-email:not(:focus) ~ .login-input-label,

    .input-password:focus ~ .login-input-label,
    .input-password:not(:placeholder-shown).input-password:not(:focus) ~ .login-input-label,

    .input-name:focus ~ .login-input-label,
    .input-name:not(:placeholder-shown).input-name:not(:focus) ~ .login-input-label,

    .input-confirm-password:focus ~ .login-input-label,
    .input-confirm-password:not(:placeholder-shown).input-confirm-password:not(:focus) ~ .login-input-label{
      margin-top: 2.5%;
      margin-left: -1%;
      font-size: 90%;
      color: var(--cinza-claro);
    }

    .login-input-label{
      margin-top: 5%;
      left: 22%;
    }
    
    .icon-eye, .eye {
      margin-left: -8%;
      margin-top: 4%;
      width: 4%;
    }

    .btn-login {
      width: 50%;
     }

     .enter-icons{
      width: 50%;
      margin-left: 25%;    
     }

    footer {
      left: 46%;
    }
      

  }

  @media (min-width: 1020px) {
    * {
      font-size: 107%;
    }

    .input-email, .input-password, .input-name, .input-confirm-password {
      height: 5vh;
     }

     input[type=checkbox] {
      height: 2vh;
      width: 2vh;
    }
  }

  @media (min-width: 1100px) {
  * {
    font-size: 100%;
  }

  .login-container, .register-container{
    background-image: url('../../images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .login-container main, .register-container main{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 35%;
    top:5%;
    height: 91vh;
    margin:0% 0% 0% 60%;
    border: var(--amarelo) solid 1.5pt;
    border-radius: 7%;
  }

  .input-email, .input-password, .input-name, .input-confirm-password {
    height: 6vh;
   }

   footer {
    left: 1%;
  }
    
  .alert-reset button{
    min-width: 20%;
    height: 6vh;
  }
 
}
