
.register-btn-register button {
  width: 70%;
  height: 7vh;
  
  color: white;
  font-size: 110%;
  font-weight: 600;
  letter-spacing: 2px;

  background-color: #2A9D8F;
  border-radius: 25px;
  border: solid 0pt white;
  outline: none;
  cursor: pointer;
}

@media (min-width: 749px) {
  .register-btn-register button {
    width: 50%;
  }
}



