.container-header {
  align-items: center;
  margin: 6%;
  background: var(--verde-claro);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.foto-personal-feed {
  display: flex;
  align-items: center;
}

.foto-personal {
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  margin: 4% 4% 4% -7%;
  border: 5px solid var(--verde-escuro);
}

.titulo {
  margin-left: 0.5em;
  color: white;
  display: flex;
  flex-direction: column;
}

.minhas-publicacoes {
  text-align: center;
  margin: auto;
}

.texto {
  max-width: 80%;
  text-align: center;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
}

.icones {
  color: var(--laranja-escuro);
  margin: 0.5em;
}

.btn-delete {
  min-width: 55%;
  height: 6vh;
  border-radius: 20px;
  background-color: var(--verde-claro);
  color: var(--branco);
  font-weight: bold;
  font-size: 120%;
  margin-top: 2%;    
}

.msg-deletar {
  color: var(--verde-escuro);
  padding: 3%;
}

.feed-a-post {
  transition: opacity 1s;
}

.pagina-personal-feed .empty-like-btn, .pagina-personal-feed .full-like-btn {
  transition: all 2s linear;
}

.pagina-personal-feed .editar-perfil-btn {
  background: var(--branco);
  border-radius: 7px;
  width: 30vw;
  padding: 0.5em;
  border: none;
  margin-bottom: 1em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pagina-personal-feed .editar-perfil-btn a {
 color: var(--verde-escuro);
 font-weight: bold;
}

.pagina-personal-feed .editar-perfil {
text-align: center;
}

.pagina-personal-feed .feed-post-owner-name {
  color: var(--verde-escuro);
  font-weight: bold;
}

.pagina-personal-feed .feed-all-the-post {
  margin-bottom: 10%;
}

.feed-post-content[contentEditable='true'] {
  border: 1px solid gray;
  background-color: #afe6df;
  
}

.fas.fa-arrow-circle-up {
  color: var(--verde-claro);
}


.updatePost-btn {
  margin-right: 0.3em;
  display: none;
}

.foto-post-owner{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 5%;
}


@media (min-width: 1100px) {
  .container-header {
    margin: 3% 2% 3% 20%;
    background: var(--laranja-escuro);
    width: 40%;
  }

  .foto-post-owner{
    margin-left: 6%;
    margin-right: 2%;
    height: 7vh;
    width: 7vh;
  }

  .feed-post-content{
    font-size: 110%;
  }
    .foto-personal {
    width: 14vh;
    height: 14vh;
  }

  .feed-posts-section{
    width: 90%;
    margin-left: -5%;
    align-items: center;
  }

  .feed-post-owner-data{
    margin-left: 4%;
    font-size: 120%;
  }

  .feed-a-post{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .feed-post-actions-section{
    margin-bottom: -8%;
  }

  .feed-post-actions-section span{
    color: var(--verde-escuro);
    font-size: 140%;
  }

  .btn{
    height: 4vh !important;
    width: 4vh !important;
  }

  .pagina-personal-feed a{
    font-size: 140%;
    margin-left: -15%;
  }

  .feed-comments-section{
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
  }

  .feed-comment-text-area{
    height: 2vh;
    margin-bottom: 6%;
    width: 80%;
    margin-left: 20%;
  }

  .feed-printed-comments{
    margin-top: -10%;
  }

  .feed-comment-start-line{
    display: none;
  }

  .feed-comment-owner-data{
    position: relative;
    width: 100%;
    justify-content: flex-start;

   }

  .feed-comment-content{
    margin-left:5%;
    margin-top: -1%;
    margin-bottom: 1%;
  }

  .feed-comment-all-content{
    border-bottom:  var(--verde-claro) solid 1pt;
    margin-top: 4%;
    margin-left: 15%;
  }

  .feed-comments-actions-section{
    margin-bottom: 2%;
  }

  .pagina-personal-feed .feed-all-the-post {
    margin-bottom: 1%;
  }

}