:root {
  --green: #2A9D8F;
  --orange: #f4a261;
  --red: #e76f51;
  --yellow: #e9c46a;
  --blue: #264653;
}

body{
  margin: 0;
}

nav ul{
  padding: 0;
  margin: 0 -2% 0 0%;
  bottom: 0;
  height:9vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background-color: var(--green);
}

.btn{
  background:no-repeat;
  background-color: transparent;
  background-size: 100%;
  height: 4vh;
  width: 4vh;
  outline: none;
  border: solid 0pt;
  cursor: pointer;
}

.not-allowed-to-see{
  display: none;
}

.home-btn{
  background-image: url('../../images/menu-home-icon.png');
}

.night-btn{
  background-image: url('../../images/menu-moon-icon.png');
}

.search-btn{
  background-image: url('../../images/menu-search-icon.png');
}

.settings-btn{
  background-image: url('../../images/menu-settings-icon.png');
}

.signout-btn{
  background-image: url('../../images/menu-signout-icon.png');
}

.feed-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feed-publication-form{
  width: 85%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: var(--green) solid 3pt;
  border-radius: 20px;
}

.feed-publication-text-area{
  width: 90%;
  height: 10vh;
  padding: 2%;
  outline: none;
  border: solid 0pt;
  text-align: justify;
  text-justify: inter-word;
}

.feed-hide-url-in-text-area{
  display: none;
}

.feed-publication-buttons-area{
  margin-bottom: 3%;
}

.feed-publication-image-btn{
  margin-left: -2%;
  height: 5vh !important;
  width: 5vh !important;
  background-image: url('../../images/publication-upload-image.png');
}

.feed-choose-an-image-btn{
  visibility: hidden;
  font-size: 8pt;
}

.feed-publication-publish-btn{
  margin-left: -16%;
  background-color: var(--green);
  border: solid 0pt;
  border-radius: 10px;
  color: #ffffff;
  padding: 2% 4%;
}

.feed-all-the-post{
  margin-top: 4%;
}

.feed-post-content{
  padding: 2% 12%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.feed-post-actions-section{
  display: flex;
}

.feed-post-actions-left-section,
.feed-post-actions-right-section{
  width: 30%;
}

.feed-post-actions-left-section{
  margin-right: 40%;
}

.empty-like-btn{
  background-image: url('../../images/feed-empty-like-icon.png');
}

.full-like-btn{
  background-image: url('../../images/feed-full-like-icon.png');
}

.comment-btn{
  background-image: url('../../images/feed-comment-icon.png');
}

.edit-btn{
  background-image: url('../../images/feed-edit-icon.png');
}

.delete-btn{
  background-image: url('../../images/feed-delete-icon.png');
}

.feed-comments-section{
  display: none;
  flex-direction: column;
  margin: 2% 4%;
  align-items: center;
}

.feed-comment-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.feed-comment-text-area{
  margin: 1% 3% 2% 3%;
  width: 80%;
  height: 2.5vh;
  padding: 2% 3%;
  border-radius: 10px;
  border: var(--red) solid 1pt;
  outline: none;
  text-align: justify;
  text-justify: inter-word;
}

.feed-comment-btn{
  height: 4vh;
  background-image: url('../../images/feed-send-comment-icon.png');
}


.feed-printed-comments{
  background-color: #f4a261;
}