

.logo-class img {
    height: 10vh;
    margin-top: 5%;
}

.input-user{
    display: none;
}

.p-save-changes{
    margin-bottom: -50%;
}

.inputs-class input{
    width: 70%;
}

.btn-class{
    margin-top: 10%;
    margin-bottom: -130%;
    width: 50%;
    height: 7vh;
    
    color: white;
    font-size: 110%;
    font-weight: 600;
    letter-spacing: 1px;
  
    background-color: #2A9D8F;
    border-radius: 25px;
    border: solid 0pt white;
}
  
.name-input-label{
    position: absolute;
    margin-top:7%;
    left: 14%;
    color:var(--cinza-escuro);
    font-weight: 400;
    letter-spacing: 1px;
}
  
.input-name:focus ~ .name-input-label,
.input-name:not(:placeholder-shown).input-name:not(:focus) ~ .name-input-label {
    margin-top: 2.5%;
    margin-left: 3%;
    font-size: 90%;
    color: var(--cinza-claro);
}

.btn-foto-class {
    margin: 2% 0% 0% 2%;
    background-size: 100%;
    height: 4.5vh;
    width: 4.5vh;
    background-image: url('../../images/camera.png');
}

.icon-img {
    text-align: center;
}

.upload img {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

.popup-wrapper {
    display: none;
}
  
.popup-wrapper {
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}
    
.popup {
    width: 80%;
    margin: auto;
    background: white;
    position: relative;
    padding: 1% 0% 5% 0%;
    margin-top: 2%;
}
    
.fechar-popup {
    color: var(--verde-escuro);
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}
    
.conteudo-popup h2{
    font-size: 120%;
}

.conteudo-popup button {
    min-width: 55%;
    height: 6vh;
    border-radius: 20px;
    background-color: var(--verde-claro);
    color: var(--branco);
    font-weight: bold;
    font-size: 120%;
    margin-top: 2%;    
}

#photo {
    opacity: 0 ;
}


@media (max-width: 300px) {
    .btn-class{
        margin-bottom: -180%;
    }

    .logo-class,
    .upload{
        width: 100%;
    }
    
}

@media (min-width: 400px) {
    .upload img {
        height: 30vh;
        width: 30vh;
    }
    
    .inputs-class input{
        font-size: 110%;
    }

    .name-input-label{
        margin-top:6%;
    }

    .btn-class{
        font-size: 110%;
    }
}

@media (min-width: 749px) {

    .logo-class img {
        height: 17vh;
        margin-top: 5%;
    }

    .inputs-class input{
        height: 5vh;
    }

    .name-input-label{
        margin-top:5%;
        left: 16%;
    }

  
}


@media (min-width: 1100px) {
    nav ul{
        right:0 ;
        height:100vh;
        width: 20%;
        flex-direction: column;
        background-color: var(--laranja-claro);
    }

    .foto-personal-feed-feed {
        height: 25vh;
        width: 25vh;
        border-radius: 50%;
    }

    .home-btn, .settings-btn, .signout-btn, .search-btn {
        height: 5vh;
        width: 5vh;
    }

    .home-btn:hover, .settings-btn:hover, .signout-btn:hover, .search-btn:hover {
        background-color: var(--laranja-claro);
    }
      
    .logo-class img {
        height: 20vh;
        margin-top: 3%;
        margin-left: -15%;
    }

    .inputs-class input{
        width: 20%;
        height: 5vh;
        border-color:  var(--laranja-escuro);
        color: var(--laranja-escuro);
        padding-bottom:0.3%;
        margin-left: -15%;
    }

    .name-input-label{
        left: 31%;
        margin-top: 3.5%;
    }

    .upload img {
        margin-left: -17%;
    }

    .btn-foto-class {
        margin-left: -17%;
    }
    
    .input-name:focus ~ .name-input-label,
    .input-name:not(:placeholder-shown).input-name:not(:focus) ~ .name-input-label {
        margin-left: 1.4%;
    }

    .btn-class{
        margin-left: -17%;
        margin-top: -6%;
        width: 20%;
        background-color: var(--laranja-claro);
    }

    .p-save-changes{
        margin-left: -17%;
    }


    .conteudo-popup button {
    background-color: var(--laranja-claro);
    width: 50%;
    }

    .fechar-popup {
        color: var(--laranja-escuro);
    }
  }
  